<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shape Recognition</title>
  <style>
    canvas {
      border: 1px solid black;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <canvas id="drawingCanvas" width="500" height="500"></canvas>
  <br>
  <button id="recognizeShape">Recognize Shape</button>
  <button id="clearCanvas">Clear Canvas</button>
  <div id="confidenceResult"></div> <!-- New confidence div -->
  <div id="shapeResult"></div>
  <div id="shape-labels">
    <h3>Recognizable shapes:</h3>
    <ul>
        {% for shape in shape_names %}
        <li>{{ shape }}</li>
        {% endfor %}
    </ul>
  </div>
  <script>
    const canvas = document.getElementById('drawingCanvas');
    const ctx = canvas.getContext('2d');

    let drawing = false;

    canvas.addEventListener('mousedown', (e) => {
      drawing = true;
      ctx.beginPath();
      ctx.moveTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
    });

    canvas.addEventListener('mousemove', (e) => {
      if (!drawing) return;
      ctx.lineTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
      ctx.stroke();
    });

    canvas.addEventListener('mouseup', () => {
      drawing = false;
    });

    document.getElementById('recognizeShape').addEventListener('click', () => {
      const imageData = canvas
      .toDataURL('image/png')
      .replace(/^data:image\/png;base64,/, '');

      $.ajax({
        url: '/recognize_shape',
        method: 'POST',
        data: { image: imageData },
        success: function (response) {
          $('#shapeResult').text('Shape: ' + response.shape);
          $('#confidenceResult').text('Confidence: ' + (response.confidence * 100).toFixed(2) + '%');
        },
        error: function (error) {
          console.error(error);
          alert('An error occurred while recognizing the shape.');
        },
      });
    });

    // New event listener for the clear button
    document.getElementById('clearCanvas').addEventListener('click', () => {
      ctx.clearRect(0, 0, canvas.width, canvas.height);
    });
  </script>
</body>
</html>
